# 1 - Data Cleaning - Data Wrangling

## Data Wrangling

In [3]:
import pandas as pd

In [15]:
mainpath = '/workspaces/machine-learning-course/data/python-ml-course/datasets'
folder = '/customer-churn-model'

data = pd.read_csv(mainpath + folder + '/Customer Churn Model.txt')

In [27]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

# Crear un subconjunto de datos

In [32]:
data["Account Length"]

0       128
1       107
2       137
3        84
4        75
       ...
3328    192
3329     68
3330     28
3331    184
3332     74
Name: Account Length, Length: 3333, dtype: int64

In [33]:
data[["Account Length","Phone","Eve Charge","Day Calls"]]

      Account Length     Phone  Eve Charge  Day Calls
0                128  382-4657       16.78        110
1                107  371-7191       16.62        123
2                137  358-1921       10.30        114
3                 84  375-9999        5.26         71
4                 75  330-6626       12.61        113
...              ...       ...         ...        ...
3328             192  414-4276       18.32         77
3329              68  370-3271       13.04         57
3330              28  328-8230       24.55        109
3331             184  364-6381       13.57        105
3332              74  400-4344       22.60        113

[3333 rows x 4 columns]

In [38]:
desired_columns = ["Account Length","Phone","Eve Charge","Day Calls"]
all_columns_list = data.columns.values.tolist()

In [39]:
sublist = [x for x in all_columns_list if x not in desired_columns]
sublist

['State',
 'Area Code',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [43]:
a = set(desired_columns)
b = set(all_columns_list)
sublist = b-a
sublist = list(sublist)
sublist

['VMail Plan',
 'VMail Message',
 'Day Charge',
 'Night Charge',
 'CustServ Calls',
 'Churn?',
 'Night Mins',
 'Intl Mins',
 'Area Code',
 'State',
 "Int'l Plan",
 'Eve Mins',
 'Night Calls',
 'Eve Calls',
 'Day Mins',
 'Intl Calls',
 'Intl Charge']

In [47]:
data[6:10]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False.
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False.

## Filter

In [59]:
data[data["Day Mins"]>350]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
365,CO,154,415,343-5709,no,no,0,350.8,75,59.64,...,94,18.4,253.9,100,11.43,10.1,9,2.73,1,True.

In [61]:
data[data["State"] == 'NY'].head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
77,NY,144,408,360-1171,no,no,0,61.6,117,10.47,...,85,6.55,173.0,99,7.79,8.2,7,2.21,4,True.
136,NY,75,415,374-8525,no,yes,21,175.8,97,29.89,...,106,18.49,237.5,134,10.69,5.3,4,1.43,5,False.
182,NY,67,408,405-2888,no,yes,36,115.6,111,19.65,...,94,20.20,169.9,103,7.65,9.9,12,2.67,2,False.
186,NY,106,408,422-1471,no,no,0,158.7,74,26.98,...,139,5.47,198.5,103,8.93,10.2,4,2.75,1,False.

In [63]:
data[(data["Day Mins"]>300) & (data["State"] == 'NY')].head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
985,NY,64,415,345-9140,yes,no,0,346.8,55,58.96,...,79,21.21,275.4,102,12.39,13.3,9,3.59,1,True.

In [64]:
data[(data["Day Mins"]>300) & (data["State"] == 'NY')].head()

(124, 21)

In [67]:
data[data["Day Calls"] < data["Night Calls"]].shape

(1626, 21)

In [69]:
data[data["Day Mins"] < data["Night Mins"]].shape

(2051, 21)

In [76]:
data[["Day Mins","Night Mins","Account Length"]][:49].head()

   Day Mins  Night Mins  Account Length
0     265.1       244.7             128
1     161.6       254.4             107
2     243.4       162.6             137
3     299.4       196.9              84
4     166.7       186.9              75

In [84]:
data.iloc[:3, 3:6]

      Phone Int'l Plan VMail Plan
0  382-4657         no        yes
1  371-7191         no        yes
2  358-1921         no         no

In [85]:
data.iloc[:3, [2,5,6]]

   Area Code VMail Plan  VMail Message
0        415        yes             25
1        415        yes             26
2        415         no              0

In [88]:
data.loc[[1,4,8,36],["Day Mins","Night Mins","Account Length"]]

    Day Mins  Night Mins  Account Length
1      161.6       254.4             107
4      166.7       186.9              75
8      184.5       215.8             117
36     146.3       129.3              36

## New columns

In [93]:
data["Total Mins"] = data["Night Mins"] + data["Day Mins"] + data["Eve Mins"]

In [95]:
data[["Total Mins", "State", "Night Mins", "Day Mins", "Eve Mins"]].head()

   Total Mins State  Night Mins  Day Mins  Eve Mins
0       707.2    KS       244.7     265.1     197.4
1       611.5    OH       254.4     161.6     195.5
2       527.2    NJ       162.6     243.4     121.2
3       558.2    OH       196.9     299.4      61.9
4       501.9    OK       186.9     166.7     148.3

## Generación de números aleatorios

In [132]:
import numpy as np

In [133]:
np.random.randint(1,100)

66

In [135]:
np.random.random()

0.5299873261952182

In [137]:
def random_list(n,a,b):
    """Generta una lista de números aleatorios enteros entre a y b"""
    return [np.random.randint(a,b) for i in range(n)]

In [138]:
random_list(8,2,20)

[19, 11, 10, 18, 3, 6, 16, 7]

In [139]:
import random

In [156]:
[random.randrange(0,100,7)/7 for i in range(10)]

[9.0, 12.0, 2.0, 1.0, 12.0, 4.0, 4.0, 11.0, 6.0, 3.0]

## Shuffling

In [173]:
arr = np.arange(100)

In [180]:
np.random.shuffle(arr)
arr

array([22, 15, 49,  3, 69, 73,  5, 57, 27, 78, 37, 12, 31, 19, 74, 95, 53,
       94, 59, 36, 66,  4, 28, 92, 61, 75, 51, 48, 70, 90, 44, 43, 79,  9,
       86,  0, 71, 35, 24, 97, 26, 20, 18, 34, 76, 52, 32, 82,  2, 64, 56,
       21, 58, 81, 89,  8, 80, 91, 42, 29,  7, 77,  6, 47, 17, 85, 45, 13,
       55, 87, 96, 99, 83, 63, 54, 40, 84,  1, 88, 30, 72, 14, 60, 25, 39,
       68, 67, 33, 98, 65, 11, 62, 93, 38, 50, 46, 10, 16, 41, 23])

In [192]:
np.random.choice(data.columns.values.tolist())

'CustServ Calls'

## Seed